//MIXINS
@mixin reset 
    
    body, header, main, nav,div, section, footer, ul, li, a, span, h1, h2, p
       margin: 0
       padding: 0  
    *
        box-sizing: border-box
        font-family: 'Open Sans', sans-serif
  
    a
        text-decoration: none

    li
        list-style: none

    img
        display: block

        
.container__mobile
    height: 70px
    padding: 8px 16px 8px 16px

.container__mobile__teste
    padding: 8px 16px 8px 16px


.container__desktop
    max-width: 1160px
    margin-left: auto
    margin-right: auto



//Responsividade
@mixin tablet
    @media (min-width: 500px)
        @content

@mixin desktop
    @media (min-width: 800px)
        @content
