//MIXINS
@mixin reset 
    
    body, header, main, nav,div, section, footer, ul, li
       margin: 0
       padding: 0  
    *
        box-sizing: border-box
        font-family: 'Open Sans', sans-serif
    
    a
        text-decoration: none

    
    li
        list-style: none

.container__mobile
    height: 70px
    padding: 8px 16px 8px 16px


//Mobile
@mixin mobile 
    @media (min-width: 768px)
        @content
    