.baseboard__bg
  background: $primary-color
  border-top: 2px solid #969696

  
.baseboard
  height: 60px
  display: flex
  justify-content: space-between
  align-items: center
  color: #ffffff

.baseboard__navegation__link
  display: flex

.title__footer
  font-size: 15px