.header__container
    background: $primary-color
    border-bottom: 1px solid $gray-datail

.header__title
    color: $letter-color

    & span
        color: $green-detail

.header__navegation__link
    display: flex

    & li 
        color: $letter-color