.projects__bg
  padding-top: 128px
  background: #06050B 

  & h2
    font-size: 18px 
    color: #FFFFFF

.projects__container
  width: 173px
  margin-top: 39px
  margin-left: auto
  margin-right: auto
  background: #06050B
  
  & article:nth-child(2)
      margin: 17px 0
     
 
