.stacks
  & h2 
    color: #FFFFFF

.stacks__icons
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 70px
  padding-top: 46px

  @include desktop
    grid-template-columns: 1fr 1fr 1fr
    max-width: 1041px
  
  @include desktop
    .stacks-mobile
      display: none

  & div
    display: flex
    justify-content: center
    position: relative
    

  & div::before
    content: ''
    display: block
    width: 110px
    height: 117px
    top: 10px
    position: absolute
    background: url('/assets/images/mobile/Rectangle 14(1).svg') no-repeat center

.stacks-desktop
  width: 90px

#stacks-css
  width: 128px

.stacks-desktop-styled
  width: 160px
