.container__mobile {
  height: 70px;
  padding: 8px 16px 8px 16px;
}

.container__mobile__teste {
  padding: 8px 16px 8px 16px;
}

.container__desktop {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header__bg {
  background: #06050B;
  border-bottom: 1px solid #969696;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 18px;
  color: #FEFEFE;
}
.header__title span {
  color: #00FFB9;
}

@media (min-width: 700px) {
  .header__title {
    font-size: 32px;
  }
}

@media (min-width: 500px) {
  .header__title {
    font-size: 28px;
  }
}

.header__navegation__link {
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0;
  background: #FFFFFF;
  height: 0;
  transition: 0.6s;
  visibility: hidden;
  overflow-y: hidden;
  z-index: 1000;
  gap: 10px;
}
.header__navegation__link li {
  color: #FEFEFE;
}
.header__navegation__link li a {
  font-size: 18px;
  color: #000000;
}

.header__navegation__link li {
  padding: 1rem 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.header__navegation__link li {
  padding: 0px;
}
@media (min-width: 700px) {
  .header__navegation__link li a {
    font-size: 24px;
  }
}

@media (min-width: 700px) {
  .header__navegation__link {
    display: flex;
    align-items: center;
    position: static;
    visibility: visible;
    overflow-y: visible;
    background: none;
  }
  .header__navegation__link li {
    color: #f8e5e5;
  }
  .header__navegation__link li a {
    color: #FFFFFF;
  }
}

#nav.active .header__navegation__link {
  visibility: visible;
  overflow-y: auto;
  height: calc(100vh - 70px);
}

#btn__mobile {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  gap: 0.5rem;
}
@media (min-width: 700px) {
  #btn__mobile {
    display: none;
  }
}

#hamburger {
  display: block;
  width: 20px;
  color: #FEFEFE;
  border-top: 2px solid;
}
#hamburger::after, #hamburger::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#nav.active #hamburger {
  border-top-color: transparent;
}

#nav.active #hamburger::before {
  transform: rotate(135deg);
}

#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}

@media (min-width: 700px) {
  #hamburger {
    display: none;
  }
}

.main__bg {
  background: #06050B;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
}
.banner .imagen__desktop {
  display: none;
}
.banner .imagen__tablet {
  display: none;
}
@media (min-width: 500px) {
  .banner .imagen__tablet {
    display: block;
  }
  .banner .imagen__desktop {
    display: none;
  }
  .banner .imagen__mobile {
    display: none;
  }
}
@media (min-width: 700px) {
  .banner {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    max-width: 1041px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 104px;
  }
  .banner .imagen__tablet {
    display: none;
  }
  .banner .imagen__desktop {
    display: block;
  }
}
.banner img {
  margin-left: auto;
  margin-right: auto;
}

.banner__phrase {
  padding: 3.25rem 1rem;
  text-align: center;
  color: #FEFEFE;
}
.banner__phrase span {
  color: #00FFB9;
}
@media (min-width: 700px) {
  .banner__phrase {
    font-size: 30px;
  }
}

#apresentacao {
  width: 237px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  font-size: 15px;
  color: #ffffff;
}
@media (min-width: 500px) {
  #apresentacao {
    width: 441px;
    font-size: 21px;
    line-height: 1.5;
  }
}
@media (min-width: 700px) {
  #apresentacao {
    padding-top: 56px;
    font-size: 24px;
    width: 670px;
    max-width: 50ch;
  }
}

.stacks h2 {
  color: #FFFFFF;
}

.stacks__icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  padding-top: 46px;
}
@media (min-width: 700px) {
  .stacks__icons {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1041px;
  }
}
.stacks__icons div {
  display: flex;
  justify-content: center;
  position: relative;
}
.stacks__icons div::before {
  content: "";
  display: block;
  width: 110px;
  height: 117px;
  top: 10px;
  position: absolute;
  background: url("/assets/images/mobile/Rectangle 14(1).svg") no-repeat center;
}

body, header, main, nav, div, section, footer, ul, li, a, span, h1, h2 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

/*# sourceMappingURL=main.css.map */
