/* Error: Undefined mixin.
 *    ,
 * 10 | /   @include tablet
 * 11 | |     width: 441px
 * 12 | |     font-size: 21px
 * 13 | \     line-height: 1.5
 *    '
 *   assets/sass/apresentacao.sass 10:3  @use
 *   assets/sass/main.sass 3:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c    @include tablet\a 11 \2502  \2502      width: 441px\a 12 \2502  \2502      font-size: 21px\a 13 \2502  \2514      line-height: 1.5\a    \2575 \a   assets/sass/apresentacao.sass 10:3  @use\a   assets/sass/main.sass 3:1           root stylesheet";
}
